.top{
    position: fixed;
    border-style: solid;
    border-width: 0.05px;
    border-color: rgb(0, 0, 0,0.1);
    background-color: white;
    width: 100%;
    text-align: center;
    top: 0%;
    color: black;
    margin: 0 auto;
    Display: flex;
    margin-left: 0px;
}
.word1{
    text-decoration:none;
    color: black;

}
.center1{
    Display: flex;
    margin: 0 auto;
}
.bg{
    background-image: url(/viewback/nanami.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    padding-top: 5%;
    z-index: -9999;
    opacity: 1;
    margin-left: 0px;
    background-size: 100%100%;
}
.word2{
    width: 100%;
    text-align: center;
    margin-top: 5%;
    color: rgb(255, 255, 255,0.7);
}

.picture1{
    background-image: url(/reality&virtual/p1v.jpg);
    width: 60%;
    height: 600px;
    margin-left: 20%;
    border: 4px solid rgb(255, 255, 255,0.7);;
    margin-top: -10px;
    background-size: 100%100%;
    margin-bottom: -50px;
}
.picture1:hover{
    background-image:url(/reality&virtual/p1r.jpg);
    display: block;
    
}
.picture2{
    background-image: url(/reality&virtual/p2v.jpg);
    width: 60%;
    height: 600px;
    margin-left: 20%;
    border: 4px solid rgb(255, 255, 255,0.7);;
    margin-top: -10px;
    background-size: 100%100%;
    margin-bottom: -50px;
}
.picture2:hover{
    background-image:url(/reality&virtual/p2r.jpg);
    display: block;
}
.picture3{
    background-image: url(/reality&virtual/p3v.jpg);
    width: 60%;
    height: 600px;
    margin-left: 20%;
    border: 4px solid rgb(255, 255, 255,0.7);;
    margin-top: -10px;
    background-size: 100%100%;
    margin-bottom: -50px;
}
.picture3:hover{
    background-image:url(/reality&virtual/p3r.jpg);
    display: block;
}
.picture4{
    background-image: url(/reality&virtual/p4v.jpg);
    width: 60%;
    height: 600px;
    margin-left: 20%;
    border: 4px solid rgb(255, 255, 255,0.7);;
    margin-top: -10px;
    background-size: 100%100%;
    margin-bottom: -50px;
}
.picture4:hover{
    background-image:url(/reality&virtual/p4r.jpg);
    display: block;
}
.picture5{
    background-image: url(/reality&virtual/p5v.jpg);
    width: 60%;
    height: 600px;
    margin-left: 20%;
    border: 4px solid rgb(255, 255, 255,0.7);;
    margin-top: -10px;
    background-size: 100%100%;
    margin-bottom: -50px;
}
.picture5:hover{
    background-image:url(/reality&virtual/p5r.jpg);
    display: block;
}
.picture6{
    background-image: url(/reality&virtual/p6v.jpg);
    width: 60%;
    height: 600px;
    margin-left: 20%;
    border: 4px solid rgb(255, 255, 255,0.7);;
    margin-top: -10px;
    background-size: 100%100%;
    margin-bottom: -50px;
}
.picture6:hover{
    background-image:url(/reality&virtual/p6r.jpg);
    display: block;
}
.picture7{
    background-image: url(/reality&virtual/p7v.jpg);
    width: 60%;
    height: 600px;
    margin-left: 20%;
    border: 4px solid rgb(255, 255, 255,0.7);;
    margin-top: -10px;
    background-size: 100%100%;
    margin-bottom: -50px;
}
.picture7:hover{
    background-image:url(/reality&virtual/p7r.jpg);
    display: block;
}
.picture8{
    background-image: url(/reality&virtual/p8v.jpg);
    width: 60%;
    height: 600px;
    margin-left: 20%;
    border: 4px solid rgb(255, 255, 255,0.7);;
    margin-top: -10px;
    background-size: 100%100%;
    margin-bottom: -50px;
}
.picture8:hover{
    background-image:url(/reality&virtual/p8r.jpg);
    display: block;
}
.picture9{
    background-image: url(/reality&virtual/p9v.jpg);
    width: 60%;
    height: 600px;
    margin-left: 20%;
    border: 4px solid rgb(255, 255, 255,0.7);;
    margin-top: -10px;
    background-size: 100%100%;
    margin-bottom: -50px;
}
.picture9:hover{
    background-image:url(/reality&virtual/p9r.jpg);
    display: block;
}
.picture10{
    background-image: url(/reality&virtual/p10v.jpg);
    width: 60%;
    height: 600px;
    margin-left: 20%;
    border: 4px solid rgb(255, 255, 255,0.7);;
    margin-top: -10px;
    background-size: 100%100%;
    margin-bottom: -50px;
}
.picture10:hover{
    background-image:url(/reality&virtual/p10r.jpg);
    display: block;
}
.picture11{
    background-image: url(/reality&virtual/p11v.jpg);
    width: 60%;
    height: 600px;
    margin-left: 20%;
    border: 4px solid rgb(255, 255, 255,0.7);;
    margin-top: -10px;
    background-size: 100%100%;
    margin-bottom: -50px;
}
.picture11:hover{
    background-image:url(/reality&virtual/p11r.jpg);
    display: block;
}
.picture12{
    background-image: url(/reality&virtual/p12v.jpg);
    width: 60%;
    height: 600px;
    margin-left: 20%;
    border: 4px solid rgb(255, 255, 255,0.7);;
    margin-top: -10px;
    background-size: 100%100%;
    margin-bottom: -50px;
}
.picture12:hover{
    background-image:url(/reality&virtual/p12r.jpg);
    display: block;
}
.mgintop{
    margin-top: -100px;
}
.picturebox{
    width: 100%;
    height: 550px;
    margin-top: 50px;

}
.picturesize{
    width: 70%;
    height: 400px;
    margin-left: 15%;
    margin-right: -50px;
    
}
.word3{
    Display: flex;
}
.thirty{
    margin-left: 23%;
    color: rgb(255, 255, 255,0.7);
}
.seven{
    margin-left: 43%;
    color: rgb(255, 255, 255,0.7);
}
.backgray{
    font-weight: bold;
    font-size: larger;
    background-color: rgb(128, 128, 128,0.2);
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    margin-bottom: -50px;
    margin-left: 0px;
    
}
.word4{
    width: 60.5%;
    height: 120px;
    margin-left: 20%;
    background-color: rgb(255, 255, 255,0.8);
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}
.word5{
    text-align: center;
    width: 100%;
}
